$desktop: 1440px;
$table: 768px;

.form{
    margin-top: 4.8rem;
    display: grid;
    width: 100%;
    row-gap: 1.6rem;
    @media(min-width: $table){
        grid-template:
            5.6rem
            / 26.5rem 16.2rem
        ;
        margin: 0 0 6.4rem 0;
        row-gap: initial;
    }
    &__email{
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--color-white);
        padding: 1.4rem 0 1.4rem 3.2rem;
        background-color: var(--color-grey-900);
        border-radius: 2.8rem;
        border: none;

        @media(min-width: $table){
            grid-column: 1 / -1;
            grid-row: 1;
        }
        &:focus-visible {
            border: .1rem solid #FC0000;
            outline: none;
        }
    }
    &--error{
        color: #FB3E3E;
        margin-left: 3.2rem;
        margin-top: .8rem;
    }
    &__request{
        color: var(--color-black);
        background-color: var(--color-slime-green);
        padding: .9rem 2.7rem;
        border: none;
        border-radius: 2.8rem;
        font-weight: bold;
        font-size: 1.4rem;

        @media(min-width: $table){
                // overlay the button on top of the email input
                grid-column: 2/-1;
                grid-row: 1;
                align-self: center;
                width: 15.8rem;
                height: 4.6rem;
                cursor: pointer;
            }
        &:hover{
            background-color: #B3FFE2;
        }
    }
    
    
}