$desktop: 1440px;
$table: 768px;

.container{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 6.2rem 2.4rem 9.4rem 2.4rem;
    background-image: url("../assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-black);
    background-blend-mode: multiply;

    @media(min-width: $table){
        justify-items: start;

        // update backcground image
        background-image: url("../assets/tablet/image-host.jpg"), url("../assets/desktop/bg-pattern-dots.svg");
        background-repeat: no-repeat;
        background-size: initial;
        background-blend-mode: initial;
        background-position: top right, bottom left 3rem;

        // add space for 2 background image
        padding: 5rem 2.4rem 25.7rem 2.4rem;
    }

    @media(min-width: $desktop){
        // update container spacing
        padding: 10.2rem 0 13rem 16.5rem;
    }
}
.logo{
    margin-bottom: 5.7rem;
    @media(min-width: $table){
        margin-bottom: 15.2rem;
    }
}
.main{
    
    padding-top: 9.3rem;
    display: grid;

    @media(min-width: $table){
        background-color: var(--color-black);
    }

    
}

.podcast{
    display: grid;
    grid-template: 1.7rem / 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;

    @media(min-width: $table){
        // move podcasts logos after the button
        order: 1;   

        max-width: 53.6rem;
        grid-template: 2.9rem / 1fr 1fr 1fr 1fr;
    }
}