$desktop: 1440px;
$table: 768px;

.container{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 6.2rem 2.4rem 9.4rem 2.4rem;
    background-image: url("../assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-black);
    background-blend-mode: multiply;

    @media(min-width: $table){
        justify-items: start;
    }
}

.main{
    
}
.logo{
    margin-bottom: 5.7rem;
    @media(min-width: $table){
        margin-bottom: 15.2rem;
    }
}
.podcast{
    display: grid;
    grid-template: 1.7rem / 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
}