#root{
    // colors
    --color-slime-green: #54E6AF;
    --color-grey-300: #5A668A;
    --color-grey-900: #2C344B;
    --color-grey-100: #C2CBE5;
    --color-black: #121725;
    --color-white: #FFFFFF;

    
}