#root{
    // colors
    --color-slime-green: #54E6AF;
    --color-grey-300: #5A668A;
    --color-grey-900: #2C344B;
    --color-grey-100: #C2CBE5;
    --color-black: #121725;
    --color-white: #FFFFFF;

    // fonts and line height 
    --font-title-desktop-size: 5.2rem;
    --font-title-table-size: 4.8rem;
    --font-title-mobile-size: 2.6rem;

    --line-height-title-desktop-size: 6.2rem;
    --line-height-title-table-size: 5.6rem;
    --line-height-title-mobile-size: 3.8rem;

    --font-body-desktop-table-size: 1.8rem;
    --font-body-mobile-size: 1.5rem;

    --line-height-body-desktop-table-size: 2.8rem;
    --line-height-body-mobile-size: 2.5rem;

}