$desktop: 1440px;
$table: 768px;


.title{
    font-size: var(--font-title-mobile-size);
    line-height: var(--line-height-title-mobile-sizez);
    text-transform: uppercase;
    @media(min-width: $table){
        font-size: var(--font-title-table-size);
        line-height: var(--line-height-title-table-size);
    }

    @media(min-width: $desktop){
        font-size: var(--font-title-desktop-size);
        line-height: var(--line-height-title-desktop-size);
    }
}