$desktop: 1440px;
$table: 768px;


.title{
    color: var(--color-white);
    font-size: var(--font-title-mobile-size);
    line-height: var(--line-height-title-mobile-sizez);
    text-transform: uppercase;
    text-align: center;
    @media(min-width: $table){
        font-size: var(--font-title-table-size);
        line-height: var(--line-height-title-table-size);
        text-align: start;
    }

    @media(min-width: $desktop){
        font-size: var(--font-title-desktop-size);
        line-height: var(--line-height-title-desktop-size);
    }

    &--lime-green{
        color: var(--color-slime-green);
        display: block;
    }
}

.body{
    text-align: center;
    color: var(--color-grey-100);
    font-size: var(--font-body-mobile-size);
    line-height: var(--line-height-body-mobile-size);
    margin: 1.6rem 0 3.3rem;

    @media(min-width: $table){
        text-align: start;
        max-width: 44.5rem;
    }

    @media(min-width: $desktop){
        font-size: var(--font-body-desktop-table-size);
        line-height: var(--line-height-body-desktop-table-size);
    }
}